<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <span class="d-flex align-items-center gap-2">
        <mat-icon>collections_bookmark</mat-icon>
        NoteKeeper
      </span>
    </mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let link of links" mat-list-item [routerLink]="link.rota">
        <mat-icon matListItemIcon>{{ link.icone }}</mat-icon>
        {{ link.titulo }}
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        *ngIf="isHandset$ | async"
        mat-icon-button
        aria-label="Ativar barra lateral"
        type="button"
        (click)="drawer.toggle()"
      >
        <mat-icon aria-label="Ícone ativador da barra lateral">menu</mat-icon>
      </button>

      <span
        *ngIf="isHandset$ | async"
        class="d-flex align-items-center gap-2 ms-auto"
      >
        <mat-icon>collections_bookmark</mat-icon>
        NoteKeeper
      </span>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
