.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;

  border-radius: 0;

  background-color: #f5f7ff;
}

.sidenav .mat-toolbar {
  background-color: #d7e3ff;
  color: #005cbb;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;

  background-color: #d7e3ff;
  color: #005cbb;
}
